body{
    color: azure;
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
}

.githublink > a {
    text-decoration: none; 
}

.logo {
    text-align: center;
}
.logo > img {
    background-color: blueviolet;
    border-style: groove;
    border-color: blueviolet;
    width: 200px;
    height: 100px;
}

.title {
    text-align: center;
}

nav {
    background-color: blueviolet;
    text-align: center;
}

nav > a {
    color: azure;
    border-color: blueviolet;
    background-color: blueviolet;
    padding-left: 1%;
    padding-right: 1%;
    text-decoration: none;
}

.construction {
    text-align: center;
}

article {
    float: left;
    width: 100%;
}

aside {
    float:right;
    width: 50%;
}

#DemoCanvas {
    position: sticky;
    border-color: blueviolet;
    border-style: groove;
}


footer > a {
    float: left;
    padding-left: 1%;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    border-color: blueviolet;
    border-style: groove;
    text-align: center;
}

a {
    color: blueviolet;
}